.Signup {
    background-image: linear-gradient(#DCDBD7, #F1B26C, #F3E8D5, #04A3A4, #017D8E);
    height: calc(100vh);
    position: relative;
}

.Signup .signup-container {
    height: calc(100% - 81px);
    display: flex;
}
.Signup .signup-container .form-container {
    margin: auto auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(218, 218, 218);
    width: fit-content;
    height: fit-content;
    border-radius: 40px;
    border: 1px solid rgba(0, 0, 0, 0.25);
    font-size: 30px;
    padding: 0 4%;
}
.Signup .signup-container .form-container h1 {
    font-size: 40px;
}
.Signup .signup-container .form-container .grid {
    display: grid;
    grid-template-columns: 50% 50%;
}
.Signup .signup-container .form-container .grid input {
    font-size: 25px;
    padding-left: 3%;
}
.Signup .signup-container .form-container .grid input[type="checkbox"] {
    width: 30px;
    height: 30px;
    margin: 0 auto;
}
.Signup .signup-container .form-container .grid input[type="checkbox"]::before {
    content: 'reveal';
    margin-left: -250%;
}
.Signup .signup-container .form-container #requiredmsg {
    text-align: center;
    font-size: 15px;
    color: #017D8E;
}

@media screen and (max-width: 480px) {
    .Signup .signup-container .form-container {
        text-align: center;
    }
    .Signup .signup-container .form-container .grid {
      grid-template-columns: auto;
    }
    .Signup .signup-container .form-container .grid input[type="checkbox"] {
        margin-left: 156px;
    }
    .Signup .signup-container .form-container .grid input[type="submit"] {
        width: fit-content;
        margin: 5% auto 0% auto;
        padding: 0% 1%;
        border-radius: 15px;
        padding: 1% 10%;
    }
}