.Match {
    width: 100%;
    padding: 10px 0px 10px 0px;
}

.Match .outercontainer {
    margin: 0 auto;
    width: 75%;
    height: 20%;
    border: 1px solid black;
    border-radius: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.Match .outercontainer .innercontainer {
    padding: 5% 0%;
}
.Match .outercontainer .innercontainer .date {
    font-size: 20px;
}
.Match .outercontainer .innercontainer .time {
    font-size: 20px;
}
.Match .outercontainer .innercontainer .wpm {
    font-size: 30px;
}


@media screen and (max-width: 768px) {
    .Match .outercontainer {
        border-radius: 15px;
    }
    .Match .outercontainer .innercontainer .date {
        font-size: 10px;
    }
    .Match .outercontainer .innercontainer .time {
        font-size: 10px;
    }
    .Match .outercontainer .innercontainer .wpm {
        font-size: 25px;
    }
}

@media screen and (max-width: 640px) {
    .Match .outercontainer {
        width: 80%;
        border-radius: 0px;
    }
}
