.WPM {
    width: 100%;
}
.WPM .maincontainer {
    width: 80%;
    margin: 4% auto;
}

.WPM .maincontainer .display {
    border: 1px solid;
    margin: 1% 0%;
}
.WPM .maincontainer .display .scrambledsentence {
    font-size: 28px;
    letter-spacing: 2px;
    padding: 1% 2% 1% 2%;
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}
.WPM .maincontainer .display .scrambledsentence .matchedpart {
    -webkit-text-stroke: 1px black;
    background-color: white;
}

.WPM .maincontainer .typingfield {
    display: flex;
}
.WPM .maincontainer .typingfield #typingfieldinput {
    flex: auto;
    border: 5px solid #FFC400;
    font-size: 25px;
    letter-spacing: 2px;
    width: 100%;
}

.WPM .maincontainer .flex-cols {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 1%;
}
.WPM .maincontainer .flex-cols img {
    width: 20px;
    height: 20px;
    cursor: pointer;
    background-color: #279de0;
    padding: 0.5%;
}

.WPM .maincontainer .fullsentence {
    width: 80%;
    margin: 4% auto 2% auto;
    font-size: 18px;
}
