.Navbar {
    height: 80px;
    border-bottom: 1px solid;
    display: grid;
    grid-template-columns: 20% auto auto;
}

.Navbar .branding {
    width: auto;
    height: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
}
.Navbar .branding img {
    height: 80px;
}

.Navbar ul {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 0;
    list-style-type: none;
}
.Navbar ul li {
    font-size: 25px;
}
.Navbar ul li a:link {
    color: #485461;
    text-decoration: none;
}

.Navbar .userinfo {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.Navbar .userinfo .welcome {
    font-size: 20px;
    margin-bottom: 0.25%;
}
.Navbar .userinfo .buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.Navbar .userinfo .buttons button {
    display: flex;
    padding: 0.5% 0%;
}
.Navbar .userinfo .buttons button a:link {
    text-decoration: none;
}
.Navbar .userinfo button {
    width: 25%;
    min-width: 80px;
    font-size: 15px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
.Navbar .userinfo button a {
    width: 100%;
}


@media screen and (max-width: 768px) {
    .Navbar {
        height: 100px;
        display: flex;
        flex-direction: column;
    }

    .Navbar .branding {
        display: none;
    }
    .Navbar ul {
        height: 100%;
        margin: 1% 0% 0% 0%;
    }
    .Navbar ul li {
        font-size: 18px;
    }
    .Navbar .userinfo {
        width: 100%;
        height: 100%;
        justify-content: flex-start;
    }
    .Navbar .userinfo .welcome {
        font-size: 15px;
    }
    .Navbar .userinfo button {
        font-size: 12px;
    }
}
